{% extends 'base.html' %}

{% block content %}




<section class="categories">
   <div class="container">
       <div class="row">
           <div class="categories__slider owl-carousel">     
               <div class="col-lg-5">
                  
                   <div class="categories__item set-bg set-bgcat p-2 "<marque <h1>Under construction
                       
                   </div>
               </div>


           </div>
       </div>
   </div>
</section>

  {% endblock content %}
